IO_LOC  "IN4" 40;
IO_PORT "IN4" IO_TYPE=LVCMOS33;

IO_LOC  "IN3" 34;
IO_PORT "IN3" IO_TYPE=LVCMOS33;

IO_LOC  "IN2" 33;
IO_PORT "IN2" IO_TYPE=LVCMOS33;

IO_LOC  "IN1" 30;
IO_PORT "IN1" IO_TYPE=LVCMOS33;

IO_LOC  "servo_pwm" 36;
IO_PORT "servo_pwm" IO_TYPE=LVCMOS33;

IO_LOC  "right" 49;
IO_PORT "right" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "left" 48;
IO_PORT "left" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "reverse" 39;
IO_PORT "reverse" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "forward" 31;
IO_PORT "forward" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst" 3;
IO_PORT "rst" IO_TYPE=LVCMOS18;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[5]" 16;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS18;
